<html>
<head>
	
<script type="text/javascript">    
$(function () {
    $('#container').highcharts({
        chart: {
            zoomType: 'x'
        },
        title: {
            text: '<%= params['from'] %> to <%= params['to'] %> exchange rate from <%= params['dateStart'] %> through <%= params['dateEnd'] %>'
        },
        subtitle: {
            text: document.ontouchstart === undefined ?
                    'Click and drag in the plot area to zoom in' :
                    'Pinch the chart to zoom in'
        },
        xAxis: {
            type: 'datetime',
            minRange: 14 * 24 * 3600000 // 14d
        },
        yAxis: {
            title: {
                text: 'Exchange rate'
            }
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            area: {
                fillColor: {
                    linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1},
                    stops: [
                        [0, Highcharts.getOptions().colors[0]],
                        [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                    ]
                },
                marker: {
                    radius: 2
                },
                lineWidth: 1,
                states: {
                    hover: {
                        lineWidth: 1
                    }
                },
                threshold: null
            }
        },

        series: [{
            type: 'area',
            name: '<%= params['from'] %> to <%= params['to'] %>',
            pointInterval: 24 * 3600 * 1000,
            pointStart: Date.parse('<%= params['dateStart'] %>'),
            data: <%= @data_points.to_json.to_s.html_safe %>
        }]
    });
});
</script>

</head>
<body>

<%= form_tag("/", method: "get") do %>
    <%= label_tag(:q, "Search for:") %>
    <%= select_tag "from", options_for_select([ "USD", "EUR", "BRL" ], params['from']) %>
    <%= select_tag "to", options_for_select([ "USD", "EUR", "BRL" ], params['to']) %>
    <%= text_field_tag 'date_start', params['dateStart'] %>
    <%= text_field_tag 'date_end', params['dateEnd'] %>
    <%= submit_tag("Search") %>
<% end %>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

</body>
</html>



